.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #dfe2dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

.App-link {
  color: #61dafb;
}

.App-status {
  background-color: white;
}

.App-status h3 {
  font-size: medium;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
